@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --primary-bcg-clr-btn: #F5F4FA;
  --main-font: Roboto;
  --secondary-font: Raleway;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #ECECEC;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

/* Стили Шапки */
.nav-logo {
  display: inline-block;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-color);
}

@media screen and (max-width: 480px) {
  .navigation {
    display: none;
  }
  .nav-logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

/* Стиль Героя */
/* Стиль Особенностей */
/* OUR WORKS */
/* Стиль Команды */
/* OUR CLIENTS */
/* Стиль Подвала */
/* СТИЛЬ ВТОРОЙ СТРАНИЦЫ ПОРТФОЛИО */
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--primary-background-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 8px;
}

.modal-button .modal-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus {
  border-color: var(--accent-color);
}

.form-field input:hover + .icon,
.form-field input:focus + .icon {
  fill: var(--accent-color);
}

.form-field label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-field textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  width: 448px;
  height: 120px;
}

.form-field textarea:focus {
  border-color: var(--accent-color);
}

.form-field textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.box {
  position: relative;
}

.box .icon {
  position: absolute;
  left: 15px;
  top: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

label .form-checkbox {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* CUSTOM CHECKBOX */
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url("../images/checkbox-vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* анимация только в одну сторону */
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */