// Стили основные
@import "./utils/variables";
@import "./components/common";
@import "./layout/header";
@import './layout/hero';
@import "./layout/features";
@import "./layout/works";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
// Стили второй страницы
@import "./layout/portfolio";
// Стили Модального окна 
@import "./layout/modal"







