/* Стили Шапки */
.nav-logo {
    display: inline-block;

    color: var(--title-text-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
.logo {
    color: var(--accent-color);
}
@media screen and (max-width: 480px) {
    .navigation {
        display: none;
    }
    .nav-logo {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }
  }

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
    display: none;
}
  
.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}