.modal {
    position: absolute;
    max-width: 450px;
    top: 93px;
    left: 15px;
    // transform: translate(-50%, -50%);

    background-color: var(--primary-background-color);
    .modal-form {
        padding: 40px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    // margin: 8px;
    .modal-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover .modal-icon,
    &:focus .modal-icon {
        fill: var(--accent-color);
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    input{
        width: 370px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-bottom: 10px;
        padding-left: 42px;
        outline: none;
    
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    input:focus {
        border-color: var(--accent-color);
    }
    input:hover + .icon,
    input:focus + .icon {
    fill: var(--accent-color);
    }
    label {
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        color: #757575;
        margin-bottom: 4px;
    }
    textarea {
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px 16px;
        margin-bottom: 20px;
    
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        width: 370px;
        height: 120px;
    }
    textarea:focus {
        border-color: var(--accent-color);
    }
    textarea::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
  }
.box {
    position: relative;
    .icon {
        position: absolute;
        left: 15px;
        top: 14px;
        
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.modal-form-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    label & {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #757575;
    }
}
.form-link {
    color:var(--accent-color);
    text-decoration: underline;
    margin-left: 5px;
}
// .form-button {
//     display: flex;
// }

/* CUSTOM CHECKBOX */

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked + .checkbox-icon {
        background-color: var(--accent-color);
        border-color: transparent;
        background-image: url('../images/checkbox-vector.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /* анимация только в одну сторону */
    }
}
.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid #212121;
    border-radius: 4px;
}