/* СТИЛЬ ВТОРОЙ СТРАНИЦЫ ПОРТФОЛИО */

.hero {
    max-width: 1600px;
    height: 600px;
    background-color:var(--secondary-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) , url('../images/img_for_index/header_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {

    margin-top: 0;
    max-width: 696px;
    margin:0 auto;
    margin-bottom: 20px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-background-color)
}

.hero-button,
.form-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 10px 32px;
    cursor: pointer;
    
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    background-color:#2196F3;
    color:#FFFFFF; 
    text-decoration: none;
}