/* Стиль Команды */

.ourteam {
    background-color:var(--primary-bcg-clr-btn);
    padding-top: 60px;
    padding-bottom: 60px;
}

.team.title {
    margin-bottom: 30px;
}

.team-list-item {
    background-color:var(--primary-background-color);
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;     
    max-width: 450px;
    margin: auto;
    text-align: center;
}
@media screen and ( max-width: 767px) {
    .team-list-item:not(:last-child) {
        margin-bottom: 30px;
    }
}
.social-sublist {
    display: inline-flex;
    margin-bottom: 30px;
}
.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus, &:hover {
        background-color: var(--accent-color);
    }
    &:focus .social-icon, &:hover .social-icon {
        fill:var(--primary-background-color);
    }
}
.sublist-item:not(:last-child) {
    margin-right: 10px;
}
.ourteam .item-photo {
    width: 100%;
    margin-bottom: 30px;
}
.ourteam .item-title {
    margin-bottom: 10px;

    font-weight: 500; 
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.ourteam .item-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .team-list-item {
        width: calc((100% - 4 * 15px) / 2);

        margin: 15px;
    }
}
@media screen and (min-width: 1200px) {
    .team-list {
        display: flex;
    }
    
}