/* OUR WORKS */

.ourworks {
    padding-bottom: 94px;
}
.works.title {
    margin-bottom: 50px;
}
.works-list {
    display: flex;
}
.works-list-item:not(:last-child) {
margin-right: 30px;
}
.img-container {
    position: relative;
}
.text-on-img {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;

    padding: 27px 82px; 

    font-weight:700;
    font-size: 14px;
    line-height:1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color:#FFFFFF;
}