body {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color)
}
h1,h2,h3,h4,p {
    margin: 0;
}
img {
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header {
    border-bottom: 1px solid #ECECEC;
}
a {
    text-decoration: none;
    color:inherit;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1140px) {
        width: 1140px;
    }
}