:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --primary-bcg-clr-btn: #F5F4FA;

    --main-font: Roboto;
    --secondary-font: Raleway;
}